In [2]:
import pandas as pd

groups = ["Modern Web","DevOps","Cloud","Big Data","Security","自我挑戰組"]
ironmen = [59,9,19,14,6,77]
ironmen_dict = {
    "groups": groups,
    "ironmen": ironmen
    
    
}
ironmen_df=pd.DataFrame(ironmen_dict)
ironmen_df

       groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77

In [3]:
print(ironmen_df.ndim)
print(ironmen_df.shape)
print(ironmen_df.dtypes)

2
(6, 2)
groups     object
ironmen     int64
dtype: object